.answer-item-box,
.answer-item-list,
.question,
.buttons-container {
    opacity: 0;
    visibility: hidden;
}
.slideUpEntranceList {
    visibility: visible;
    animation: slideUpEntranceList 0.3s ease-in-out forwards;
  }
  .slideUpEntranceBox{
    animation: slideUpEntranceBox 0.8s ease-in-out forwards;
    visibility: visible;
  }
  .exitFadeOut {
    animation: exitFadeOut 0.2s ease-out forwards;
  }
  @keyframes slideUpEntranceBox {
  
    
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    60% {
        transform: translateY(-10px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideUpEntranceList {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes exitFadeOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }