.nextBtn {
   display: flex;
   width: 280px;
   height: 56px;
   padding: 8px 24px;
   color:#fff;
   font-weight: 600;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   font-size: 16px;
   border: none;
   background-color: var(--border-border-50);
   /* transition: background-color 0.3ms ease-in; */
 }
 .formResultBtn{
   width: 100%;
 }
 .enabled{
   cursor: pointer;
   background-color: var(--blue-color-1);
   transition: background-color 0.5s ease-in-out;
 }